.assignmentsAssignmentContainer {
	border-bottom: solid 1px rgb(232,232,232);
	height:40px;
	overflow:hidden;
}
.assignmentsAssignmentContainerExpanded {
	border-bottom: solid 1px rgb(232,232,232);
}
.assignmentsAssignmentHeader {
	padding-left:5px;
	padding-right:5px;
	-webkit-transition: background-color .3s;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.assignmentsAssignmentHeader:hover {
	background-color:#F0F0F0;
	cursor: pointer;
}
.assignmentsAssignmentName {
	line-height: 25px;
	font-size: 20px;
}
.assignmentsAssignmentDue {
	line-height: 15px;
}
.assignmentsAssignmentGrade {
	line-height: 40px;
	font-size: 20px;
	width: 100px;
	float: right;
	text-align: right;
	margin-top:-40px;
}
.assignmentsAssignmentBody {
	margin: 5px;
}
.assignmentsAssignmentSubmissionContainer {
	border: solid 1px #F0F0F0;
	border-radius: 5px;
	margin-bottom:5px;
}
.assignmentsAssignmentSubmissionHeader {
	cursor: pointer;
	padding: 5px;
	-webkit-transition: background-color .3s;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.assignmentsAssignmentSubmissionHeader:hover {
	background-color: #F0F0F0;
}
.assignmentsAssignmentSubmissionContentContainer {
	height: 0;
	overflow: hidden;
}
.assignmentsAssignmentSubmissionContentContainerExpanded {
	height: auto;
}
.assignmentsAssignmentSubmissionUser {
	padding:5px;
    border-top: solid 1px #F0F0F0;
}
.assignmentsAssignmentSubmissionTeacher {
	border-top:solid 1px #F0F0F0;
	padding: 5px;
}
.assignmentOptions {
	display:block;
}
.assignmentOptionsHidden {
	display: none;
}