.sectionEnrollStatus {
	cursor: pointer;
}
.sectionEnrollStatus:hover {
	text-decoration: underline;
}
.coursesNavBarContainer {
	width:100%;
	height:30px;
	border-bottom:solid 1px rgb(232,232,232);
	position:fixed;
	background-color:#FFF;
}
.courseNavBarButton {
	position: relative;
	float: left;
	font-size: 14px;
	line-height: 20px;
	cursor: pointer;
	padding: 5px;
	padding-left:10px;
	padding-right:10px;
	background-color:#FFF;
	-webkit-transition: background-color .3s;
	margin-right:5px;
}
.courseNavBarButton:hover {
	background-color:#F0F0F0;
}
.courseNavBarButtonRight {
	position: fixed;
	float: right;
	right:0;
	font-size: 14px;
	line-height: 20px;
	cursor: pointer;
	padding: 5px;
	padding-left:10px;
	padding-right:10px;
	background-color:#FFF;
	-webkit-transition: background-color .3s;
	margin-left:5px;
}
.courseNavBarButtonRight:hover {
	background-color:#F0F0F0;
}
.selected {
	background-color: #F0F0F0;
}