body {
	font-family: Arial, sans-serif;
	font-size: 12px;
	margin: 0px;
}
label {
	position: relative;
	vertical-align: middle;
	bottom: 1px;
}
a:visited {
	color:inherit;
}
a {
	color: inherit;
}
input[type=text],
input[type=password],
select,
input[type=email] {
	padding-top: 5px;
	padding-left:5px;
	width:200px; 
	font-size: 18px;
	line-height: 20px;
	display: block;
}
input[type=checkbox] {
	margin-bottom: 15px;
}
input[type=submit] {
	background-color: rgba(0, 0, 0, 0);
	background-image: -webkit-linear-gradient(top, rgb(245, 245, 245), rgb(241, 241, 241));
	border-color: rgba(0, 0, 0, 0.0980392);
	border-style: solid;
	border-width: 1px;
	border-radius: 2px;

	color: rgb(68, 68, 68);
	font-size: 11px;
	font-weight: bold;
	height: 29px;
	line-height: 29px;
	min-width: 54px;
	padding-bottom: 0px;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 0px;
	text-align: center;
}
input[type=submit]:hover {
	-webkit-box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 0px 0px;
	border-color: rgb(198, 198, 198);
	box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 0px 0px;
	color: rgb(34, 34, 34);
	cursor: pointer;
}
.error {
	border: solid 1px red;
}
.navBarContainer {
	width: 100%;
	height: 40px;
	background-color: #FFF;
	border-bottom: solid 1px rgb(232,232,232);
	top:0;
	position: fixed;
	z-index: 5;
}
.navBarLogoContainer {
	font-size: 24px;
	font-weight: bold;
	width: 150px;
	line-height: 40px;
	height: 40px;
	text-align: center;
	float: left;
	cursor: pointer;
	-webkit-transition: background-color .3s;
}
.navBarLogoContainer:hover {
	background-color: #F0F0F0;
}
.navBarSearchContainer {
	width:400px;
	height:30px;
	padding: 5px;
	float: left;
}
.navBarSearchResultsContainer {
	width:406px;
	left:155px;
	top:10px;
	position:absolute;
	display: none;
	border-bottom: solid 1px #FFF;
	box-shadow: 0 0px 10px #888;
	-webkit-user-select: none;
	padding-top:30px;
}
.navbarSearchResultsContainerContent {
	background-color:#FFF;
}
.navbarSearchResultsSectionContainer {
	border-top: solid 1px rgb(232, 232, 232);
	padding:5px;
}
.navbarSearchResultsSectionContainer:hover {
	background-color: rgb(232,232,232);
	cursor: pointer;
}
.navBarSearchBar {
	padding-left:5px;
	width:400px; 
	font-size: 18px;
	outline: 0;
	border: 0;
	border-bottom:solid 1px rgb(232,232,232);
	position: absolute;
	z-index: 1;
	margin-top:10px;
}
.navBarUserContainer {
	height: 40px;
	float: right;
	font-size: 18px;
	line-height: 40px;
	text-align: right;
	-webkit-user-select: none;
	right:0;
	background-color: #FFF;
	position: absolute;
	z-index: 5;
	border-bottom: solid 1px rgb(232,232,232);
	overflow: hidden;
	max-width: 400px;
}
.navBarUserContainerExpanded {
	height: 130px;
	float: right;
	font-size: 18px;
	line-height: 40px;
	text-align: right;
	-webkit-user-select: none;
	right:0;
	background-color: #FFF;
	position: absolute;
	z-index: 5;
	border-bottom: solid 1px #FFF;
	box-shadow: 0 0 10px #888;
}
.navBarUserName {
	cursor: pointer;
}
.navBarUserName:hover {
	background-color: #F0F0F0;
}
.navBarUserOptionsLinks {
	width:100%;
	height:30px;
	margin-top:10px;
	background-color: #FFF;
	line-height: 30px;
	font-size: 16px;
	cursor: pointer;
	text-align: center;
	-webkit-transition: background-color .3s;
}
.navBarUserOptionsLinks:hover {
	background-color: #F0F0F0;
}
.navBarUserAvatarContainer {
	width: 30px;
	height: 30px;
	position: relative;
	float: right;
	margin: 5px 5px 5px 10px;
}
.sideBarContainer {
	width:150px;
	height: 100%;
	background-color: #FFF;
	border-right:solid 1px rgb(232,232,232);
	float: left;
	position: fixed;
	top:0;
	margin-top:40px;
	z-index: 4;
}
.mainContentContainer {
	left:150px;
	padding: 0px;
	margin-top: 40px;
	position: absolute;
	min-width: 450px;
	overflow: auto;
}
.mainContentContainerContent {
	padding:10px;
	overflow: auto;
}
.sideBarTabContainer {
	width:150px;
	height:40px;
	margin-top:5px;
	background-color: #FFF;
	line-height: 40px;
	font-size: 20px;
	cursor: pointer;
	text-align: center;
	-webkit-transition: background-color .3s;
}
.sideBarTabContainer:hover {
	background-color:#F0F0F0;
}
.selected {
	background-color: #F0F0F0;
}
.sideBarCoursesSubBar {
	width:150px;
	height:30px;
	margin-top:5px;
	background-color: #FFF;
	line-height: 12px;
	font-size: 12px;
	cursor: pointer;
	text-align: center;
	-webkit-transition: background-color .3s;
}
.sideBarCoursesSubBar:hover {
	background-color:#F0F0F0;
}
.noUnderline {
	text-decoration: none;
}

.coursesCourseContainer {
	border-bottom: solid 1px rgb(232,232,232);
	height:40px;
	-webkit-transition: background-color .3s;
	padding-left:5px;
	padding-right:5px;
}
.coursesCourseContainer:hover {
	background-color:#F0F0F0;
	cursor: pointer;
}
.coursesCourseTitle {
	line-height: 25px;
	font-size: 20px;
}
.coursesCourseTeacher {
	line-height: 15px;
}
.infoAdditionalInfo {
	display: none;
}
.infoAdditionalInfoExpanded {
	display: block;
}