body {
	font-family: Arial, sans-serif;
	font-size: 12px;
	margin: 0px;
}
a:visited {
	color:inherit;
}
a {
	color: inherit;
}
.headerContainer {
	width: 100%;
	height:100px;
	background-color: rgb(232,232,232);
	position: absolute;
}
.headerLogo {
	font-size: 30px;
	position: absolute;
	float: left;
	font-weight: bold;
	padding:0 10px 0 10px;
	line-height: 100px;
}
.headerLoginContainer {
	position: relative;
	float: right;
	text-align: right;
	width: 500px;
	padding: 0 10px 0 10px;
}
.headerLoginContainerForms {
	height: 40px;
	padding-top: 30px;
	vertical-align: bottom;
	width: 500px;
}
.headerLoginContainerFormUsername {
	height:60px;
	width: 200px;
	text-align: left;
	float: left;
}
.headerLoginContainerFormPassword {
	height:60px;
	width: 270px;
	text-align: left;
	float: right;
}
.loggedOutContentContainer {
	left:0px;
	padding: 0px;
	margin-top: 100px;
	position: absolute;
	min-width: 100%;
	overflow: auto;
}
input[type=text],
input[type=password] {
	padding-top: 5px;
	padding-left:5px;
	width:200px; 
	font-size: 18px;
	line-height: 20px;
}
input[type=submit] {
	border:0;
	width: 50px;
}