body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	margin: 0px;
}
a:visited {
	color:inherit;
}
a {
	color: inherit;
}
.headerContainer {
	width: 100%;
	height:100px;
	background-image: linear-gradient(top, rgb(245, 245, 245), rgb(241, 241, 241));
	background-image: -webkit-linear-gradient(top, rgb(245, 245, 245), rgb(241, 241, 241));
	background-image: -moz-linear-gradient(top, rgb(245, 245, 245), rgb(241, 241, 241));
	position: absolute;
}
.headerLogo {
	font-size: 30px;
	position: absolute;
	float: left;
	font-weight: bold;
	padding:0 20px 0 20px;
	line-height: 100px;
}
.headerLoginContainer {
	position: relative;
	float: right;
	text-align: right;
	width: 600px;
	padding: 0 10px 0 10px;
}
.headerLoginContainerForms {
	height: 40px;
	padding-top: 30px;
	vertical-align: bottom;
	width: 600px;
}
.headerLoginContainerFormUsername {
	height:60px;
	width: 250px;
	text-align: left;
	float: left;
}
.headerLoginContainerFormPassword {
	height:60px;
	width: 330px;
	text-align: left;
	float: right;
}
.loggedOutContentContainer {
	left:0px;
	padding: 0px;
	margin-top: 100px;
	position: absolute;
	min-width: 100%;
	overflow: auto;
}
input[type=text],
input[type=email],
input[type=password] {
	padding-top: 5px;
	padding-left:5px;
	width:250px; 
	font-size: 18px;
	line-height: 20px;
}
input[type=submit] {
	background-color: rgba(0, 0, 0, 0);
	background-image: linear-gradient(top, rgb(245, 245, 245), rgb(241, 241, 241));
	background-image: -webkit-linear-gradient(top, rgb(245, 245, 245), rgb(241, 241, 241));
	background-image: -moz-linear-gradient(top, rgb(245, 245, 245), rgb(241, 241, 241));
	border-color: rgba(0, 0, 0, 0.0980392);
	border-style: solid;
	border-width: 1px;
	border-radius: 2px;
	color: rgb(68, 68, 68);
	font-size: 11px;
	font-weight: bold;
	height: 29px;
	line-height: 29px;
	min-width: 54px;
	padding-bottom: 0px;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 0px;
	text-align: center;
	vertical-align: top;
	margin-top:3px;
}
input[type=submit]:hover {
	-webkit-box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 0px 0px;
	border-color: rgb(198, 198, 198);
	box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 0px 0px;
	color: rgb(34, 34, 34);
	cursor: pointer;
}
.mainContentContainerContent {
	padding:10px;
	overflow: auto;
}
.loggedOutContainer {
	background-image: linear-gradient(top, rgb(245, 245, 245), rgb(255, 255, 255));
	background-image: -webkit-linear-gradient(top, rgb(245, 245, 245), rgb(255, 255, 255));
	background-image: -moz-linear-gradient(top, rgb(245, 245, 245), rgb(255, 255, 255));
	height: 520px;
	width:800px;
	margin: 10px auto;
	border: solid 1px #F0F0F0;
	border-radius: 5px;
	position: relative;
}
.loggedOutContainerLeft {
	width:380px;
	position: relative;
	float: left;
	padding:10px;
	text-align: center;
}
.loggedOutContainerRight {
	width:380px;
	position: relative;
	float: left;
	padding:10px;
	text-align: center;
}
.loggedOutMessageContainer {
	height: 20px;
	width:790px;
	margin: 10px auto;
	border: solid 1px #F0F0F0;
	border-radius: 5px;
	position: relative;
	line-height: 20px;
	padding:5px;
}
.loggedOutErrorContainer {
	height: 20px;
	width:790px;
	margin: 10px auto;
	border: solid 1px red;
	border-radius: 5px;
	position: relative;
	line-height: 20px;
	padding:5px;
}